<section class="block container">
  <header class="block__header">
    <h2 class block__heading>Heading</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo quaerat ipsam quo dolores reprehenderit?
      Ratione pariatur impedit a, ipsum qui iure distinctio officia inventore ea sequi! Veritatis quis natus
      perspiciatis!</p>
  </header>
  <div style="width: 40%; padding: 4rem;">
    <div class="card card--secondary">
      <header class="card__header">
        Card Title
      </header>
      <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos doloribus magnam quirem,
        sint, tempora nam, ?</div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo quaerat ipsam quo dolores reprehenderit?
      Ratione pariatur impedit a, ipsum qui iure distinctio officia inventore ea sequi! Veritatis quis natus
      perspiciatis!</p>
  </div>
</section>