<blockquote class="quote">
  <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores neque odit, alias voluptas
    soluta odio dicta nam
    fugiat nesciunt ea omnis perspiciatis molestiae saepe, eaque, praesentium vel atque vero quibusdam.</p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">
          Shiv Om Pal
        </h3>
        <p class="quote__org">NTT Data</p>
      </div>
    </div>
  </footer>
</blockquote>